.header{
    background-color: gray;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.header h1{
    margin: 0;
}
.header span{
    position: relative;
    top: 10px;
    font-size: 20px;
}
 p{
    background-color: hotpink;
    margin:5px;
}